.notactive {
  box-shadow: none;
}
.nav {
  margin-right: 14px;
  color: #191919;
  padding-bottom: 5px;
}
.icon {
  margin-left: .7rem;
  box-shadow: none;
  font-size: 1.5rem;
}

.icon .fa-facebook {
  color: #036ee4;
}

.icon .fa-twitter {
  color: #1da1f2;
}

.icon .fa-linkedin {
  color: #0077b5;
}

.icon .fa-instagram {
  color: #262626;
}

.icon .fa-youtube {
  color: #f00;
}
